body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://images.pexels.com/photos/5906951/pexels-photo-5906951.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.nav-color {
  background-color: rgb(230, 57, 57);
}

.nav-link {
  color: white;
  font-size: x-large;
}
.nav-link:hover {
  color: white;
}
.nav-link:visited {
  color: white;
}

.banner {
  background-color: black;
  color: white;
  padding-bottom: 0;
}

.title {
  color: white;
  font-family: fantasy;
  font-style: italic;
  font-size: 110px;
  font-size-adjust: .5;
}